.popup__item {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  width: 358px;
  padding: 0;
  padding-bottom: 9px;
  margin: 50px 0 0 36px;
}

.popup__item:last-of-type {
  margin-top: 30px;
}

@media screen and (max-width: 560px) {
  .popup__item  {
    width: 238px;
    margin: 74px 0 0 22px;
  }
}

